#modal {
    max-width: 50%;
    border: 0; /* removes black border from default modal styling */
    box-shadow: 0 0 1em rgb(0 0 0 / .6); /* puts a small shadow around the modal box */
    text-align: center;
    
}

#modal::backdrop {
    background: grey;
    opacity: .5;
}

header, h1{
    text-align: center;
}


table {
    width: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    
    
}

h2 {
    text-align: center;
}

body {
    background-color: rgb(255, 255, 255);
}

input {
    border: none;
    background-color: white;
    background: #dbdbdb;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

table, tr, th {
    border-bottom: 1.5px solid black;
    
} 

#roundscore, .team-score{
    text-align: center;
}

.rulesofgamebtn {
    display: block;
    margin: auto;
    position: relative;
    margin-top: 10%;
}

.close-button {
    margin: auto;
}

.team-input {
    width: 9em;
    padding-bottom: 4px;
    margin-bottom: 1em; /* makes space under the input field */
    height: 1em;
}

.team-save-btn {
    margin-bottom: 1px;
    margin-right: 2em;
}

.score-input {
    text-align: center;
}


.team-name {
    display: inline-block;
    padding-left: 1em;
    font-size: 48px;
    font-weight: bold;
}

#scoreboard-tr {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.score {
    font-weight: bold;
    font-family: "Bowlby One", serif;
    font-size: 48px;
    text-align: center;
    width: 3em;
}

/* The styling below is to remove the up and down buttons on the input fields with the type='text' */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.edit-btn-img {
    display: flex;
    justify-content: flex-end;
    height: 1.3rem;
    width: 2rem;
}




