

header, h1{
    text-align: center;
}



table {
    width: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    
}

h2 {
    text-align: center;
}

body {
    background-color: grey;
}

table, tr, th {
    border-bottom: 1.5px solid black;
    
}

/* input {
    text-align: center;
} */

button.addrow {
    text-align: right;
}

#roundscore {
    text-align: center;
}

#roundscorebtn {
    background-color: blueviolet;
    size: 500px;
    float: right;
}