
/* This is the Mobile media query */
@media screen and (max-width: 600px) {


#modal {
  max-width: 50%;
  border: 0; /* removes black border from default modal styling */
  box-shadow: 0 0 1em rgb(0 0 0 / 0.6); /* puts a small shadow around the modal box */
  text-align: center;
}
  
#modal::backdrop {
  background: grey;
  opacity: 0.5;
}

  header,
h1 {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
}

input {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1em;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-left: 0.5em;
}

input::placeholder {
  color: #555555;
}

input:placeholder-shown {
  font-size: 1em;
  cursor: text;
  top: 20px;
}

button {
  border: 2px solid rgb(24, 24, 24);
  border-radius: 1em;
  background-color: white;
  padding: 0.5em 0.5em;
  margin: 0.25em;
}

/* button:hover {
  background-color: #555555;
  color: white;
} */

.team-input {
  font-size: 1em;
  color: black;
}

.team-name {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  width: 50%;
}

#totalscore-tr {
  text-align: center;
  width: 100%;
}

.totalscore {
  font-weight: bold;
  font-family: "Bowlby One", serif;
  font-size: 48px;
  width: 50%;
}


.score-history-header {
  text-align: center;
}

.history-container {
  width: 100%;
  text-align: center;
  table-layout: fixed; /* ensures all of the cells remain the same size */
}

.score-input {
  width: 30%;
}

#score-input1, #add-score-btn1 {
  margin-top: 1em;
}

#score-input2, #add-score-btn2 {
  margin-top: 1em;
}

#tableRow {
  width: 100%;
}

#score-history-team1 {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#score-history-team2 {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#confirm-reset-dialog {
  margin: auto;
  border-radius: 5px;
  max-width: 50%;
  border: 0; /* removes black border from default modal styling */
  box-shadow: 0 0 1em rgb(0 0 0 / 0.6); /* puts a small shadow around the modal box */
}

#confirm-yes-btn {
  width: 50%;
}

#confirm-no-btn {
  width: 50%;
}

#confirm-reset-buttons {
  display: flex;
  justify-content: space-evenly;
}


  











.bottom-page-div {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3em;

}




}







/* This is for anything bigger than 600px, like your chrome browser     */


@media screen and (min-width: 600px) {
  

#modal {
  max-width: 50%;
  border: 0; /* removes black border from default modal styling */
  box-shadow: 0 0 1em rgb(0 0 0 / 0.6); /* puts a small shadow around the modal box */
  text-align: center;
  border-radius: 5px;
}

#modal::backdrop {
  background: grey;
  opacity: 0.5;
}

header,
h1 {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
}

input {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1em;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-left: 0.5em;
}

input::placeholder {
  color: #555555;
}
input:placeholder-shown {
  font-size: 1em;
  cursor: text;
  top: 20px;
}

button {
  border: 2px solid rgb(24, 24, 24);
  border-radius: 1em;
  background-color: white;
  padding: 0.5em 0.5em;
  margin: 0.25em;
}

button:hover {
  background-color: #555555;
  color: white;
}

/* .rulesofgamebtn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
} */

.close-button {
  margin: auto;
}

.team-input {
  font-size: 1em;
  color: black;
}

.team-name {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding-top: 1em;
  width: 50%;
}

#totalscore-tr {
  text-align: center;
}

.totalscore {
  font-weight: bold;
  font-family: "Bowlby One", serif;
  font-size: 48px;
  text-align: center;
  width: 3em;
}

/* The styling below is to remove the up and down buttons on the input fields with the type='text' */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.score-history-header {
  text-align: center;
}

/* #reset-game-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
} */



#score-input1, #add-score-btn1 {
  margin-top: 1em;
}

#score-input2, #add-score-btn2 {
  margin-top: 1em;
}

#score-input {
  width: 4em;
}


.round-score-styling {
  font-variant-numeric: slashed-zero;
  font-size: 26px;
  height: 1.2em;
}

.history-container {
  width: 100%;
  text-align: center;
  table-layout: fixed; /* ensures all of the cells remain the same size */
}

.bottom-page-div {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3em;

}

#tableRow {
  width: 100%;
}

#score-history-team1 {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#score-history-team2 {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#congratsMsg {
  font-weight: bold;
  font-size: large;
}

#continue-game-btn {
  width: 50%;
}

#new-game-btn {
  width: 50%;
}

#winner-modal {
  margin: auto;
  border-radius: 5px;
  max-width: 50%;
  border: 0; /* removes black border from default modal styling */
  box-shadow: 0 0 1em rgb(0 0 0 / 0.6); /* puts a small shadow around the modal box */
}

#winner-modal-div {
  display: flex;
  justify-content: space-around;
}

#confirm-reset-dialog {
  margin: auto;
  border-radius: 5px;
  max-width: 50%;
  border: 0; /* removes black border from default modal styling */
  box-shadow: 0 0 1em rgb(0 0 0 / 0.6); /* puts a small shadow around the modal box */
}

#confirm-yes-btn {
  width: 50%;
}

#confirm-no-btn {
  width: 50%;
}

#confirm-reset-buttons {
  display: flex;
  justify-content: space-evenly;
}








/* bottom of browers media query */
}


 